/////////Main Variables/////////////////
$fontMain: 'Tenor Sans', sans-serif;
$fontSize: 16px;
$fontSizeMobile: 12px;
$lineHeight: 1;
$colorBackground: #f6cece;
$colorMain: #47837d;
$colorSecond: #f8dddd;
/////////Container//////////////////////
$containerWidth: 1440px;
$containerPadding: 10px;